@import "tailwindcss";
@import "./fonts.css";
@import "./theme.css";

@layer base {
    body {
        @apply bg-gray-dark text-gray-light;
    }

    /* TITLES */
    h1 {
        @apply text-2xl font-bold;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px var(--color-gray-semi) inset !important;
    -webkit-text-fill-color: var(--color-gray-light) !important;
    border-color: var(--color-gray) !important;
}

/* Pour Firefox */
input:-moz-autofill,
input:-moz-autofill-preview {
    filter: none !important;
    background-color: var(--color-gray-semi) !important;
    color: var(--color-gray-light) !important;
    border-color: var(--color-gray) !important;
}