@font-face {
    font-family: Source Code Pro;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("../assets/fonts/SourceCodePro-Regular.ttf") format("truetype");
}

@font-face {
    font-family: Source Code Pro;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("../assets/fonts/SourceCodePro-SemiBold.ttf") format("truetype");
}