@import "tailwindcss";
@import "./theme.css";

@layer base {
    body {
        @apply bg-background text-foreground;
    }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px hsl(var(--gray-900)) inset !important;
    -webkit-text-fill-color: hsl(var(--gray-200)) !important;
    border-color: hsl(var(--gray-700)) !important;
}

/* Pour Firefox */
input:-moz-autofill,
input:-moz-autofill-preview {
    filter: none !important;
    background-color: hsl(var(--gray-900)) !important;
    color: hsl(var(--gray-200)) !important;
    border-color: hsl(var(--gray-700)) !important;
}