@theme inline {
    --color-gray-dark: hsl(0 0% 6%);
    --color-gray-semi: hsl(0 0% 9%);
    --color-gray: hsl(0 0% 25%);
    --color-gray-light: hsl(0 0% 70%);
    --color-gray-lighter: hsl(0 0% 90%);

    --color-primary: hsl(7 57% 40%);

    /* CATEGORIES */
    --color-category-melee: hsl(25 63% 38%);
    --color-category-firearm: hsl(359 28% 53%);
    --color-category-unarmed: hsl(51 80% 43%);
    --color-category-explosive: hsl(216 58% 56%);
    --color-category-hacker: hsl(80 76% 30%);

    /* RADIUS */
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius: 0.75rem;
    --radius-xl: calc(var(--radius) + 4px);

    /* FONTS */
    --font-mono: 'Source Code Pro', 'Courier New';

    /* ANIMATION */
    @keyframes ping {
        75%, 100% {
            transform: scale(1.1);
            opacity: 0;
        }
    }
}
